<!-- dBase.html -->
{% extends 'base.html' %}
<!-- Block -->
{% block content %}
<!-- macro.html -> function render_flied -->
{% from '_macro.html' import render_field %}
<form class='raleway'>
  <!-- Input necessary for CSRFProtect -->
  <input name='csrf_token' type='Hidden' value=' {{ csrf_token() }} '>
  <!-- Rende Inputs in a loop -->
  {% for input in client_form %}
  {{ render_field( input.label, class="" )}}
  {{ render_field( input, class="", id="", required="True" ) }}
  {% endfor %}
  <input id='enviar' type='button' value='AGREGAR'>
</form>
{% endblock %}
